{{# each memes}}
<div class="user-meme">
    <a href="#" class="user-meme-title">{{title}}</a>
    <a href=""> <img class="userProfileImage" src="{{imageUrl}}"></a>

    {{#if isCreator}}
    <div class="user-memes-buttons">
        <a href="#/meme/edit?id={{_id}}" class="user-meme-btn">Edit</a>
        <a href="#/meme/remove?id={{_id}}" class="user-meme-btn">Delete</a>
    </div>
    {{/if}}
    
</div>
{{/ each}}